<div class="container-fluid options">	
	<div class="row col-sm-12 text-center">
		<ul class="step-bar col-sm-12 text-center">
			<li class="col-sm-3">
				<a href='#/'>		
					<div id="home"></div>
					<p> 1. HOME </p>
				</a>
			</li>
			<li class="col-sm-3">
				<a href='#/options'>		
					<div id="options"></div>
					<p> 2. OPTIONS </p>
				</a>
			</li>
			<li class="col-sm-3">
				<a href='#/delivery'>		
					<div id="delivery" class="col-sm-3"></div>
					<p> 3. DELIVERY </p>
				</a>
			</li>
			<li class="col-sm-3">
				<a href='#/payment'>		
					<div id="payment"></div>
					<p> 4. PAYMENT </p>
				</a>
			</li>
		</ul>
	</div>
	<div class="row col-sm-12">
		<h2>Payment</h2>
		<h4>Order summary below</h4>
	</div>
	<div class="row col-sm-8 col-sm-offset-1">
		<h2>Choices</h2>
		<div class="col-sm-5">
			<h5>Grind</h5>
			<h5>Frequency of Delivery</h5>
			<h5>Coffee in pounds</h5>
		</div>
		<div class="col-sm-5">
			<h5>{{planType}}</h5>
			<h5>{{grind}}</h5>
			<h5>{{frequency}}</h5>
			<h5>{{quantity}}</h5>
		</div>
	</div>
	<div class="row col-sm-8 col-sm-offset-1">
		<h2>Delivery Information</h2>
		<div class="col-sm-5">
			<h5>Full Name</h5>
			<h5>Address</h5>
			<h5>Address2</h5>
			<h5>City</h5>
			<h5>State</h5>
			<h5>Zip Code</h5>
		</div>
		<div class="col-sm-5">
			<h5>{{fullName}}</h5>
			<h5>{{address}}</h5>
			<h5>{{address2}}</h5>
			<h5>{{city}}</h5>
			<h5>{{state}}</h5>
			<h5>{{zip}}</h5>
		</div>
	</div>
	<div class="row col-sm-8 col-sm-offset-1">
		<h2>Current Charge</h2>
			<div class="col-sm-5">
				<h5>Shipping</h5>
				<h4><em>Total</em></h4>
			</div>
			<div class="col-sm-5">
				<h5>{{shippingTotal}}</h5>
				<h4><em>{{totalCharge}}</em></h4>
			</div>
	</div>
	<div class="row col-sm-12 text-center">
		<div id="cancel-button">
			<form ng-submit="cancelForm()">
				<button class="btn btn-danger" type="submit">Cancel Order</button>
			</form>
		</div>
		<div id="checkout-button">
			<form ng-submit="paymentForm()">
				<button class="btn btn-success" type="submit">Pay with card</button>
			</form>
<!-- 			<form action="" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_K9L17worNm0z7lHpdssTpwqr"
			    data-amount="999"
			    data-name="DC Roasters"
			    data-description="Coffee Order"
			    data-image="/images/brand.png"
			    data-locale="auto">
			  </script>
			</form> -->
		</div>
	</div>
</div>
