<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 betterWay">
			<h1> A better way to grind</h1>
			<h4> Freshly roasted coffee beans delivered weekly to your door</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 how-it-works text-center">
			<p> How It Works</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 steps" id="stepOne">
			<h3> We get the coffee</h3>
			<p> Each bean is hand selected</p>
			<p> Each bean is measured for precise size</p>
			<p> Each bean is well-cared for</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 steps" id="stepTwo">
			<div class="arrow-down">
				<div class="col-sm-3" id="grower">
					<img src='../images/coffee-images/grower.jpg'>
				</div>
				<div class="col-sm-9">
					<h3> 2: We pick up the coffee</h3>
					<p> We place the coffee in bags</p>
					<p> Each bag is transported in climate-controlled trucks</p>
					<p> Every six hours the bags are rotated to keep the beans uniform and delicious</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 steps" id="stepThree">
			<div class="col-sm-6">
				<h2> 3: You drink the coffee</h2>
				<p> The coffee tastes delicious</p>
				<p> You want more coffee</p>
			</div>
			<div class="col-sm-3 cupImage">
				<img src='../back-end/public/images/coffee-images/cupSteam.jpg'>
			</div>
		</div>
	</div>

	<div class='row'> 
		<div class="col-sm-12 text-center" id="get-started">
			<div class="arrow-down">
				<div>
					<a href="/register"></a>
					<button class="btn btn-primary-large"type="button"> GET STARTED</button>
					<h4> Want to know more about us?</h4>
					<a href="/about"></a>
					<h4> OUR STORY </h4>
				</div>
			</div>
		</div>
	</div>

</div>
