	<div class="container-fluid options">	
		<div class="row col-sm-12 text-center">
			<ul class="step-bar col-sm-12 text-center"> 
				<li class="col-sm-3">
					<a href='#/'>		
						<div id="home"></div>
						<p> 1. HOME </p>
					</a>
				</li>
				<li class="col-sm-3">
					<a href='#/options'>		
						<div id="options"></div>
						<p> 2. OPTIONS </p>
					</a>
				</li>
				<li class="col-sm-3">
					<a href='#/delivery'>		
						<div id="delivery" class="col-sm-3"></div>
						<p> 3. DELIVERY </p>
					</a>
				</li>
				<li class="col-sm-3">
					<a href='/payment'>		
						<div id="payment"></div>
						<p> 4. PAYMENT </p>
					</a>
				</li>
			</ul>
		</div>

		<div class="row col-sm-12 text-center">
			<div id="options-header">
				<h2>Tell us what you want!!</h2>
				<h4>Shipping is free and you can skip any week</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-1 text-center">
				<h1>Individual Plan</h1>
				<p>For those who drink alone</p>
				<img src="../css/images/coffee-images/solodrinker.jpg">
				<h6>Cups per week: 14</h6>
				<h6>Price per cup: $.50</h6>
				<h6>Weekly total: $7.00</h6>
				<h6>Grind Type:</h6>
				<button type="submit" class="btn btn-default">Submit</button>
				<p>Shipping is always free</p>
				<p>Skip any week. Cancel anytime</p>
			</div>

			<div class="col-sm-4 col-sm-offset-2 text-center">
				<h1>Family Plan</h1>
				<p>For those who drink together</p>
				<img src="../css/images/coffee-images/coffeedrinkers.jpg">
				<h6>Cups per week: 40</h6>
				<h6>Price per cup: $.45</h6>
				<h6>Weekly total: $18.00</h6>
				<h6>Grind Type:</h6>
				<button type="submit" class="btn btn-default">Submit</button>
				<p>Shipping is always free</p>
				<p>Skip any week. Cancel anytime</p>
			</div>
		</div>	
	</div>
