	<div class="container-fluid options">			
		<div class="row col-sm-12">
			<ul> 
				<li>
					<a href='/'></a>
						<div class="home-img">
							<p> 1. HOME </p>
				<li>
					<a href='/options'></a>
						<img src="../images/coffee-images/menu-steps.png">
						<p> 2. OPTIONS</p>
				<li>
					<a href='/delivery'>
						<img(src="../images/coffee-images/menu-steps.png")
					p 3. DELIVERY
				li.payment-tag
					a(href='/payment')
						img(src="../images/coffee-images/menu-steps.png")
					p 4. PAYMENT
