<div class="container-fluid registration">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1> Registration</h1>
			<h4> Pick a username and Password</h4>
		</div>
	</div>

	<div class="row"> 
		<!-- if(failure)
			h2 Hi #{tempName}! Looks like your passwords don't match.  Please try again. -->
		<div class="col-sm-4 registration-wrapper text-center">
			<form role="form" action="/register" method="post" id="registration-form" name="registration">
				<fieldset>
					<legend>Username:</legend>
						<input type="test" name="username" placeholder="John Smith" minlength="5">
				<fieldset>
					<legend>Password:</legend>
						<input type="password" name="password" placeholder="6 min" minlength="6">
				<fieldset>
					<input type="password" name="password2" placeholder="Confirm Password" minlength="6">
				<fieldset>
					<legend>Email:</legend>
					<input type="email" name="email" placeholder="example@abc.com">
				<fieldset>
					<button class="btn btn-success" type="submit" value="Register">Register</button>
			</form>
		</div>
	</div>
</div>